.tableCover{margin-top:30px;}
.blueB{background-color:rgba(0, 204, 255, 0.0980392156862745);padding:10px 0;margin:10px 0;}
.marginU{margin-top:10px;}
.el-form-item{margin-bottom:12px;}
.el-form-item__content,.el-form-item__label{line-height:30px;}
.el-input__inner{height:30px;line-height:30px;}
.dialog-footer{text-align:right;}
.totalT{width:98%;font-size:14px;line-height:23px;color: #909399;border:1px solid grey;}
.el-table__body .two{color:rgba(255, 51, 255, 1); }
.el-table__body .three{color: rgba(0, 204, 255, 1);}
.el-table__body .four{color:rgba(128, 0, 128, 1);}
.el-table__body .five{color:rgba(0, 204, 0, 1);}
.el-table__body .six{color:rgba(102, 51, 0, 1);}
.el-table__body .seven{color:rgba(255, 204, 0, 1);}

.el-checkbox__input{left:-56%;}
.el-table__body{ border-collapse: collapse}