.formCaseCss .demo-box.demo-tag .el-tag+.el-tag{margin-left:10px}.demo-box.demo-tag .button-new-tag{margin-left:10px;height:32px;line-height:30px;padding-top:0;padding-bottom:0}.demo-box.demo-tag .input-new-tag{width:90px;margin-left:10px;vertical-align:bottom}
.formCaseCss  .el-form-item__content .one{background-color:white;border-color:white;}
.formCaseCss .el-form-item__content .two{background-color:#00CC99; border-color:#00CC99;}
.formCaseCss .el-form-item__content .three{background-color: #0099FF;border-color: #0099FF;}
.formCaseCss .el-form-item__content .four{background-color:#6633FF;border-color:#6633FF;}
.formCaseCss .el-form-item__content .five{background-color:#CC0033;border-color:#CC0033;}
.formCaseCss .el-form-item__content .six{background-color:#FF9966;border-color:#FF9966;}
.formCaseCss .el-form-item__content .seven{background-color:#990000;border-color:#990000;}
.formCaseCss .demoSpan{width:20px;height:20px;}
.formCaseCss .colorCover .one:hover,.colorCover .one:active,.colorCover .one:focus{background-color:white; border-color:white;}
.formCaseCss .colorCover .two:hover,.colorCover .two:active,.colorCover .two:focus{background-color:#00CC99; border-color:#00CC99;}
.formCaseCss .colorCover .three:hover,.colorCover .three:active,.colorCover .three:focus{background-color: #0099FF;border-color: #0099FF;}
.formCaseCss .colorCover .four:hover,.colorCover .four:active,.colorCover .four:focus{background-color:#6633FF;border-color:#6633FF;}
.formCaseCss .colorCover .five:hover,.colorCover .five:active,.colorCover .five:focus{background-color:#CC0033;border-color:#CC0033;}
.formCaseCss .colorCover .six:hover,.colorCover .six:active,.colorCover .six:focus{background-color:#FF9966;border-color:#FF9966;}
.formCaseCss .colorCover .seven:hover,.colorCover .seven:active,.colorCover .seven:focus{background-color:#990000;border-color:#990000;}
.formCaseCss .blueB .el-form-item{margin-bottom:0;}
